@{
    Layout = ViewBag.Layout;
}

<h2>Marcar Consulta Cartão</h2>

<form method="post" action="~/Consulta/CadastrarConsulta" enctype="multipart/form-data">

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="cpf">CPF:</label>
            <input class="form-control form-control-sm" id="cpf" type="text" name="cpf" value="@ViewBag.CPF" readonly/>
        </div>

        <div class="form-group col-md-6">
            <label for="nome">Nome:</label>
            <input style="text-transform:uppercase" class="form-control form-control-sm" id="nome" maxlength="150" type="text" name="nome" value="@ViewBag.Nome" readonly/>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="dt_nasc">Consulta:</label>
            <input class="form-control form-control-sm" id="nb_consulta" type="number" name="id" value="@ViewBag.IdConsulta" readonly />
        </div>
        <div class="form-group col-md-6">
            <label for="tipo">Tipo:</label>
            <select class="form-control" name="tipo" id="inputGroupSelect02">
                @foreach (var tipos in ViewBag.ListaTipos)
                {
                    <option value="@tipos">@tipos</option>
                }
            </select>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-3">
            <button type="submit" class="form-control btn btn-sm btn-success">Salvar</button>
        </div>

        <div class="form-group col-md-3">
            <a href="javascript:window.history.go(-1)" class="form-control btn btn-sm btn-danger ml-md-2">Voltar</a>
        </div>
    </div>

</form>



